<style>
    .subject-wrapper img {
      cursor: pointer;
      margin-bottom: 10px;
    }
    .card {
      width: 20rem;
      margin: 10px 0;
     }
    .subject-wrapper {
      margin: 0 30px;
    }
    .subject-nav-item {
      margin: 10px;
    }
    .subject-wrapper .nav {
      margin: 0 -30px;
    }
    .subject-wrapper .row {
      margin-top: 30px;
    }
    li.media {
      margin-left: -40px;
    }
    .media img {
      margin-right: 20px;
    }
    .comment-wrapper .panel-body {
      max-height:650px;
      overflow:auto;
    }
    .comment-wrapper .media-list li.media img {
      width:64px;
      height:64px;
      border:2px solid #e5e7e8;
    }
    .comment-wrapper .media-list li.media {
      border-bottom:1px dashed #efefef;
      margin-bottom:25px;
    }
</style>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $("li a").click(function () {
            $('.active').removeClass('active');
            $(this).addClass('active');
        });
    });
</script>

<div class="subject-wrapper">
  <ul class="nav nav-tabs">
    <li class="nav-item subject-nav-item">
      <a class="nav-link text-dark" href="#wiki">Wiki</a>
    </li>
    <li class="nav-item subject-nav-item">
      <a class="nav-link text-dark" href="#mindmap">Mind Map</a>
    </li>
    <li class="nav-item subject-nav-item">
      <a class="nav-link text-dark" href="#notes">Notes</a>
    </li>
    <li class="nav-item subject-nav-item">
      <a class="nav-link text-dark" href="#community">Community</a>
    </li>
  </ul>

  <div class="row" id="wiki">
    <h4>Wiki - Quick Start</h4>
  </div>
  <div class="row">
    Calculus, originally called infinitesimal calculus or "the calculus of infinitesimals", is the mathematical
    study of continuous change, in the same way that geometry is the study of shape and algebra is the study of
    generalizations of arithmetic operations.
    <br><br>
    It has two major branches, differential calculus and integral calculus; the former concerns instantaneous rates
    of change, and the slopes of curves, while integral calculus concerns accumulation of quantities, and areas
    under or between curves. These two branches are related to each other by the fundamental theorem of calculus,
    and they make use of the fundamental notions of convergence of infinite sequences and infinite series to a
    well-defined limit.[1]
    <br><br>
    Infinitesimal calculus was developed independently in the late 17th century by Isaac Newton and Gottfried
    Wilhelm Leibniz.[2][3] Today, calculus has widespread uses in science, engineering, and economics.[4]
    <br><br>
    In mathematics education, calculus denotes courses of elementary mathematical analysis, which are mainly
    devoted to the study of functions and limits. The word calculus (plural calculi) is a Latin word, meaning
    originally "small pebble" (this meaning is kept in medicine). Because such pebbles were used for calculation,
    the meaning of the word has evolved and today usually means a method of computation. It is therefore used for
    naming specific methods of calculation and related theories, such as propositional calculus, Ricci calculus,
    calculus of variations, lambda calculus, and process calculus.
  </div>

  <div class="row" id="mindmap">
    <h4>Mind Map</h4>
  </div>
  <div class="row">
    [This should be a mind map]
    <br><br>
  </div>


  <div class="row" id="notes">
    <h4>Notes</h4>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="https://res.cloudinary.com/dxgm6xs6b/image/upload/v1583534451/1_mk1-6aYaf_Bes1E3Imhc0A_jg2xbv.jpg">
          <h5 class="card-title">Differentiation Formulas</h5>
          <h6 class="card-subtitle mb-2 text-muted">Paul's Online Notes</h6>
          <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="https://res.cloudinary.com/dxgm6xs6b/image/upload/v1583534451/1_mk1-6aYaf_Bes1E3Imhc0A_jg2xbv.jpg">
          <h5 class="card-title">Differentiation Formulas</h5>
          <h6 class="card-subtitle mb-2 text-muted">Paul's Online Notes</h6>
          <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="https://res.cloudinary.com/dxgm6xs6b/image/upload/v1583534451/1_mk1-6aYaf_Bes1E3Imhc0A_jg2xbv.jpg">
          <h5 class="card-title">Differentiation Formulas</h5>
          <h6 class="card-subtitle mb-2 text-muted">Paul's Online Notes</h6>
          <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="https://res.cloudinary.com/dxgm6xs6b/image/upload/v1583534451/1_mk1-6aYaf_Bes1E3Imhc0A_jg2xbv.jpg">
          <h5 class="card-title">Differentiation Formulas</h5>
          <h6 class="card-subtitle mb-2 text-muted">Paul's Online Notes</h6>
          <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="https://res.cloudinary.com/dxgm6xs6b/image/upload/v1583534451/1_mk1-6aYaf_Bes1E3Imhc0A_jg2xbv.jpg">
          <h5 class="card-title">Differentiation Formulas</h5>
          <h6 class="card-subtitle mb-2 text-muted">Paul's Online Notes</h6>
          <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="https://res.cloudinary.com/dxgm6xs6b/image/upload/v1583534451/1_mk1-6aYaf_Bes1E3Imhc0A_jg2xbv.jpg">
          <h5 class="card-title">Differentiation Formulas</h5>
          <h6 class="card-subtitle mb-2 text-muted">Paul's Online Notes</h6>
          <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="https://res.cloudinary.com/dxgm6xs6b/image/upload/v1583534451/1_mk1-6aYaf_Bes1E3Imhc0A_jg2xbv.jpg">
          <h5 class="card-title">Differentiation Formulas</h5>
          <h6 class="card-subtitle mb-2 text-muted">Paul's Online Notes</h6>
          <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="https://res.cloudinary.com/dxgm6xs6b/image/upload/v1583534451/1_mk1-6aYaf_Bes1E3Imhc0A_jg2xbv.jpg">
          <h5 class="card-title">Differentiation Formulas</h5>
          <h6 class="card-subtitle mb-2 text-muted">Paul's Online Notes</h6>
          <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>

  <h2>Notes</h2>
  <%# 
  This renders the partial '_note'. 
  'render' method iterates over each of the notes in the @subject.notes collection. 
  it assigns each note to a local variable named the same as the partial, in this case 'note'. 
  %>
  <%= render @subject.notes %>

  <h2>Create a Note:</h2>
  <%# This renders the partial '_form'. %>
  <%= render 'notes/form' %>

  <div class="row" id="community">
    <h4>Community</h4>
  </div>
  <div class="row">
    <div class="bootstrap snippets">
      <div class="col-md-12">
        <div class="comment-wrapper">
          <div class="panel panel-info">
            <div class="panel-body">
              <textarea class="form-control" placeholder="write a comment..." rows="3"></textarea>
              <br>
              <button type="button" class="btn btn-info pull-right">Post</button>
              <div class="clearfix"></div>
              <hr>
              <ul class="media-list">
                <li class="media">
                  <a href="#" class="pull-left">
                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                  </a>
                  <div class="media-body">
                    <strong class="text-success">@MartinoMont</strong>
                    <span class="text-muted pull-right">
                        <small class="text-muted">30 min ago</small>
                    </span>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Lorem ipsum dolor sit amet, <a href="#">#consecteturadipiscing </a>.
                    </p>
                  </div>
                </li>
                <li class="media">
                  <a href="#" class="pull-left">
                    <img src="https://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
                  </a>
                  <div class="media-body">
                    <strong class="text-success">@LaurenceCorreil</strong>
                    <span class="text-muted pull-right">
                        <small class="text-muted">30 min ago</small>
                    </span>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Lorem ipsum dolor <a href="#">#ipsumdolor </a>adipiscing elit.
                    </p>
                  </div>
                </li>
                <li class="media">
                  <a href="#" class="pull-left">
                    <img src="https://bootdey.com/img/Content/user_3.jpg" alt="" class="img-circle">
                  </a>
                  <div class="media-body">
                    <strong class="text-success">@JohnNida</strong>
                    <span class="text-muted pull-right">
                        <small class="text-muted">30 min ago</small>
                    </span>
                    <p>
                      Lorem ipsum dolor <a href="#">#sitamet</a> sit amet, consectetur adipiscing elit.
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>